:root {
    --primary: #e99401;
    --black: #262626;
    --white: #fff;
    --fuente-principal: "Outfit", sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 2rem;
    font-family: var(--fuente-principal);
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

[class*="container"],
main {
    width: min(95%, 120rem);
    margin: 3rem auto;
}

[class*="heading"] {
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
    color: var(--primary);
    margin: 5rem 0;
}

/*Header*/
.header {
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.7)),
        url(/img/header.jpg);
    padding: 6rem 0;
    background-size: cover;
}

.header .logo {
    width: 25rem;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .nav {
        flex-direction: row;
        justify-content: space-between;
    }
}

.header .navigation {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .header .navigation {
        margin-top: 0;
    }
}

.header .navigation a {
    color: var(--white);
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    margin: 1rem;
    text-transform: uppercase;
    padding: 0.5rem;
    transition-property: color;
    transition-duration: 300ms;
}

.header .navigation img {
    width: 3rem;
}

.header .navigation a:hover,
.header .active {
    background-color: var(--primary);
    border-radius: 0.5rem;
}

/**Footer*/

.footer {
    background-color: var(--black);
    color: var(--white);
    padding: 5rem 0;
    margin-top: 5rem;
}

@media screen and (min-width: 768px) {
    .footer .content {
        display: flex;
        justify-content: space-between;
    }
}

.footer .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .footer .navigation {
        flex-direction: row;
    }
}

.footer .navigation a {
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    margin: 1rem;
    text-transform: uppercase;
    padding: 0.5rem;
    transition-property: color;
    transition-duration: 300ms;
}

.footer .navigation a:last-of-type {
    display: none;
}

.footer .navigation a:hover {
    color: var(--primary);
}

.footer .copyright {
    text-align: center;
}

.us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.error,
.error-link {
    margin-top: 5rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}

.error-link {
    display: block;
    color: var(--primary);
    text-decoration: none;
    font-size: 2rem;
}

.btn {
    margin-top: 2rem;
    display: block;
    padding: 1rem;
    background-color: black;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--primary);
}